@font-face {
  font-family: "UAESymbol";
  src: url("./fonts/dirham.woff2") format("woff2"), url("./fonts/dirham.woff") format("woff"), url("./fonts/dirham.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dirham-symbol {
  font-family: "UAESymbol", sans-serif;
  font-size: inherit;
  color: inherit;
  text-transform: initial;
}

.dirham-container {
  display: inline-flex;
  align-items: baseline;
  gap: 0.25rem;
}
